*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  text-transform: capitalize;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 250px;
}

header {
  background-color: #043873;
}
.top-header {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-grow: 1;
  flex-basis: 200px;
  align-items: start;
  gap: 10px;
}

.nav-bar select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: #043873;
  font-size: 14px;
  color: #ffffff;
}

.header-buttons {
  flex-grow: 0;
  flex-basis: 200px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: end;
}

.button {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-login {
  background-color: transparent;
  color: #043873;
  border: none;
  background-color: #ffe492;
}
.button-primary {
  background-color: #4f9cf9;
  color: white;
  width: 230px;
  height: 43px;
}
.button h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.button-icon {
  width: 20px;
  height: 20px;
}
.main-header {
  display: flex;
  padding: 60px 40px;
  gap: 45px;
}
.header-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
}
.header-cont h1 {
  color: #ffffff;
  font-size: 80px;
}
.header-cont p {
  color: #ffffff;
  padding-bottom: 40px;
  font-size: 22px;
}
.absurd {
  background-color: #9decef;
  width: 70%;
  height: 460px;
}
.button-Management {
  background-color: #4f9cf9;
  color: white;
  width: 230px;
  height: 43px;
}
/* ----------------------------------------------------------------- */
main {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.work-mangement {
  display: flex;
  flex-basis: 100%;
  padding: 60px 40px;
  gap: 200px;
}
/* ------------------------------------------------------------------------ */
.project-mangement {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  gap: 25px;
  padding: 100px 40px;
}
.project-mangement h1 {
  position: relative;
  z-index: 1;
  font-size: 80px;
}

.mangement-img {
  position: absolute;
  width: 484px;
  height: 37px;
  margin-top: 15px;
  z-index: 0;
}
.button-project {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------ */

.together {
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
  gap: 25px;
  padding: 100px 40px;
}
.circle {
  width: 500px;
}
.Work-together {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  width: 40%;
}
.together h1 {
  position: relative;
  z-index: 10;
  font-size: 80px;
}

.together-img {
  position: absolute;
  width: 309px;
  height: 21px;
  margin-top: -85px;
  margin-left: 213px;
  z-index: 0;
}
.together p {
  margin: -200px 0px;
}
.button-together {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------------------------------ */
.UseasExtension {
  display: flex;
  flex-basis: 100%;
  padding: 60px 40px;
  gap: 200px;
  background-color: #043873;
}
.extdension {
}
.extdension-img {
  position: absolute;
  width: 390px;
  height: 25px;
  margin-top: 155px;
  /* margin-left: 850px; */
  text-align: right;
  z-index: 0;
}
.extdension h1 {
  position: relative;
  z-index: 10;
  font-size: 80px;
  color: #ffffff;
}
.extdension p {
  color: #ffffff;
  padding: 60px 0px;
}

.button-extdension {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* --------------------------------------------------------------------------------- */
.Customise-needs {
  display: flex;
  flex-basis: 100%;
  padding: 60px 40px;
  gap: 200px;
}
.Customise-img {
  position: absolute;
  width: 390px;
  height: 25px;
  margin-top: 155px;
  text-align: right;
  z-index: 0;
}
.Customise h1 {
  position: relative;
  z-index: 10;
  font-size: 80px;
}
.Customise p {
  padding: 70px 0px;
}
.button-Customise {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------------------------- */
.plan {
  display: flex;
  flex-direction: column;
  padding-top: 140px;
}
.chooseplan {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 50px 0px;
}

.chooseplan-img {
  position: absolute;
  position: absolute;
  width: 360px;
  height: 25px;
  margin-top: -100px;
  margin-left: 300px;
  text-align: right;
  z-index: 0;
}
.chooseplan h1 {
  position: relative;
  z-index: 10;
  font-size: 80px;
}
.chooseplan p {
  padding: 50px 0px;
  width: 399px;
  text-align: center;
}
/* ----------------------------------------------------------------------------------- */
.conte-plan {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}
.free {
  flex-basis: 30%;
}
/* --------------------------------------------------------------------------------------- */
.header-free {
  padding: 40px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.main-free {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.tik {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}
/* --------------------------------------------------------------------------------- */
.personal {
  background-color: #043873;
  padding: 85px 0px;
  border-radius: 10px;
  flex-basis: 30%;
}
.header-personal {
  padding: 40px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  gap: 25px;
}
.personal h3 {
  color: #ffffff;
}
.personal p {
  color: #ffffff;
}
.header-personal h2 {
  color: #ffe492;
}
.main-personal {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-direction: column;
  gap: 25px;
  padding-left: 40px;
  padding-right: 40px;
}
.button-personal {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------- */
.your-work {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  background-color: #043873;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 140px;
}
.your-work-img {
  position: absolute;
  margin-top: -80px;
  margin-left: 615px;
  width: 250px;
  /* height: 30px; */
}
.your-work h1 {
  color: #ffffff;
  font-size: 60px;
  position: relative;
}
.your-work p {
  color: #ffffff;
  font-size: 20px;
}
/* --------------------------------------------------------------- */
.data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 140px 40px;
}

.button-your-data {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}

.your-data-img {
  position: absolute;
  margin-top: 50px;
  margin-left: 165px;
  width: 250px;
  height: 30px;
}
.your-data h1 {
  color: black;
  font-size: 60px;
  position: relative;
}
.your-data p {
  color: black;
  font-size: 17px;
  padding: 35px 0px;
}
.Element-data-img {
  width: 681px;
}
/* ---------------------------------------------------------------------------- */
.our-sponsors {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px 32px;
}
.sponsors-header h1 {
  color: black;
  font-size: 60px;
  position: relative;
}
.img-sponsors {
  position: absolute;
  margin-top: 50px;
  margin-left: 120px;
  width: 250px;
  height: 30px;
}
.sponsors-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 100px;
}
/* --------------------------------------------------------------------------------- */
.Work-Apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 100px 40px;
  background-color: #043873;
}
.img-Work-Appsapps {
  width: 582px;
}
.Work-with {
}
.Work-with h1 {
  color: #ffffff;
  font-size: 75px;
}
.Work-with p {
  color: #ffffff;
  padding: 45px 0px;
  font-size: 18px;
}
.button-Work-with {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* --------------------------------------------------------------------------------- */
.our-clients {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 250px;
}
.Clients-Says {
  display: flex;
  flex-direction: column;
}
.Clients-Says h1 {
  position: relative;
  color: black;
  font-size: 75px;
}
.Clients-Says img {
  position: absolute;
  margin-top: 30px;
  margin-left: 470px;
  width: 250px;
  height: 30px;
}
/* ------------------------------------------------------------------------------------ */
.Oberon-Shaw {
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  gap: 25px;
  padding: 0px 30px;
}
.left-clients-box {
  padding: 35px;
}
.Whitepate-header-orange {
  border-bottom: 1px solid rgb(115, 113, 113);
}
.Whitepate-header-orange p {
  padding: 30px 0px;
  font-size: 20px;
}
.Whitepate-foter-orange {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  gap: 50px;
}
.orange-gril-img img {
  width: 100px;
}
.orange-gril-conte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.orange-gril-conte h2 {
  font-size: 22px;
}
.orange-gril-conte p {
  padding: 30px 0px;
  font-size: 20px;
}
/* -------------------------------------------------------------------------- */

.middle-clients-box {
  background-color: #4f9cf9;
  border-radius: 10px;
  padding: 35px;
}
.Whitepate-header-white {
  border-bottom: 1px solid rgb(252, 251, 251);
}
.Whitepate-header-white p {
  padding: 30px 0px;
  font-size: 20px;
}
.Whitepate-foter-white {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  gap: 50px;
}
.white-boy-img img {
  width: 100px;
}
.white-boy-conte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.white-boy-conte h2 {
  font-size: 22px;
}
.white-boy-conte p {
  padding: 30px 0px;
  font-size: 20px;
}
/* ------------------------------------------------------------------ */

.right-clients-box {
  background-color: #4f9cf9;
  border-radius: 10px;
  padding: 35px;
}
.Whitepate-header-black {
  border-bottom: 1px solid rgb(250, 249, 249);
}
.Whitepate-header-black p {
  padding: 30px 0px;
  font-size: 20px;
}
.Whitepate-foter-black {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
  gap: 50px;
}
.black-boy-img img {
  width: 100px;
}
.black-boy-conte {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.black-boy-conte h2 {
  font-size: 22px;
}
.black-boy-conte p {
  padding: 30px 0px;
  font-size: 20px;
}
/* --------------------------------------------------------------------------------------- */
footer {
  background-color: #043873;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 30px;
}
* footer {
  color: #ffffff;
}
.footer-hader {
  width: 800px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px;
  margin: auto auto;
}
.footer-hader h1 {
  font-size: 90px;
}
.footer-hader p {
  font-size: 37px;
}
.button-footer-header {
  background-color: #4f9cf9;
  color: white;
  width: 200px;
  height: 43px;
}
.Operating-System {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 75px;
}
.Operating {
  width: 75px;
}
/* -------------------------------------------------------------------------------------- */
.footer-main {
  display: flex;
  gap: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer-main a {
  text-decoration: none;
  list-style-type: none;
}

.footer-whitepace {
  flex-basis: 20%;
}
.selecting {
  text-decoration: none;
  list-style-type: none;
}
.selecting a {
  color: #ffffff;
}

.footer-Product {
  flex-basis: 20%;
}
.footer-Product .gold {
  color: #ffe492;
}
.footer-Resources {
  flex-basis: 20%;
}
.footer-Company {
  flex-basis: 20%;
}
.footer-TryToday {
  flex-basis: 20%;
}
/* -------------------------------------------------------------------------------- */
