*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 300px;
}

header {
  background-color: #043873;
}
.top-header {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 32px;
}

.logo {
  width: 150px;
  height: auto;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-grow: 1;
  flex-basis: 200px;
  align-items: start;
  gap: 10px;
}

.nav-bar select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  border: none;
  border-radius: 6px;
  background-color: #043873;
  font-size: 14px;
  color: #ffffff;
}

.header-buttons {
  flex-grow: 0;
  flex-basis: 200px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: end;
}

.button {
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-login {
  background-color: transparent;
  color: #043873;
  border: none;
  background-color: #ffe492;
}
.button-primary {
  background-color: #4f9cf9;
  color: white;
  width: 230px;
  height: 43px;
}
.button h3 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

.button-icon {
  width: 20px;
  height: 20px;
}
.main-header {
  display: flex;
  padding: 60px 40px;
  gap: 45px;
}
.header-cont {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
}
.header-cont h1 {
  color: #ffffff;
  font-size: 80px;
}
.header-cont p {
  color: #ffffff;
  padding-bottom: 40px;
  font-size: 22px;
}
.absurd {
  background-color: #9decef;
  width: 70%;
  height: 460px;
}
.button-Management {
  background-color: #4f9cf9;
  color: white;
  width: 230px;
  height: 43px;
}
/* ----------------------------------------------------------------- */

.work-mangement {
  display: flex;
  flex-basis: 100%;
  padding: 60px 40px;
  gap: 200px;
}
/* ------------------------------------------------------------------------ */
.project-mangement {
  width: 50%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  gap: 25px;
  padding: 100px 40px;
}
.project-mangement h1 {
  position: relative;
  z-index: 1;
  font-size: 80px;
}

.mangement-img {
  position: absolute;
  width: 484px;
  height: 37px;
  margin-top: 15px;
  z-index: 0;
}
.button-project {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------ */

.together {
  /* width: 50%; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-align: left;
  gap: 25px;
  padding: 100px 40px;
}
.circle {
  width: 500px;
}
.Work-together {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: left;
  width: 40%;
}
.together h1 {
  position: relative;
  z-index: 10;
  font-size: 80px;
}

.together-img {
  position: absolute;
  width: 270px;
  height: 37px;
  margin-top: 170px;
  margin-left: 850px;
  text-align: right;
  z-index: 0;
}
.together p {
  margin: -200px 0px;
}
.button-together {
  background-color: #4f9cf9;
  color: white;
  width: 160px;
  height: 43px;
}
/* ------------------------------------------------------------------------------ */
.UseasExtension {
  display: flex;
  flex-basis: 100%;
  padding: 60px 40px;
  gap: 200px;
}
.extdension-img {
}
.extdension h1 {
}
.button-extdension {
}
.red {
  background-color: red;
  width: 500px;
  height: 400px;
}
